.profile{
    border-radius: 40%;
}
#carou > h5{
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size:x-large;
}

#education>.container {
    position: relative; 
    display: flex;
    gap: 1rem;
    height: 80vh;
    justify-content: center;
    align-items: baseline;
    border: #0555a5 4px solid;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(86, 196, 80) 1px 5px;
    font-family: Monaco;
    z-index: 1; 
}
#education>.container>div{
    background-color: rgb(0, 159, 252);
}

#education>.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    border-radius: 15px;
    background-image: url('./pexels-repuding-12064.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    animation: fadeEffect 8s infinite;
}


@keyframes fadeEffect {
    0%   { opacity: 1; }     
    50%  { opacity: 0.5; } 
    100% { opacity: 1; }     
}
#education>.container li{
    font-weight: bold;
}
#education>.container>div{
    border-radius: 10%;
    max-width: 600px;
    min-width: 400px;
    flex:1;
    padding: 10px;
    margin-top: 2rem;
    border:#010b01 3px solid;
}
#buttons1{
    border-radius: 5px;
    color: #000000;
    border-color: #15037d;
}
@media (max-width: 1250px) {
    #education>.container{
      flex-direction: column;    
      height: 100%;
    }
}
section > h1{
    font-family: Copperplate;
    font-weight: 700;
    font-stretch:wider;
}
#search{
    background-color: none;
}
#project>.container{
    display: flex;
    gap: 2rem;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
#project>.container>div{
    flex: 1;
    max-width: 650px;
}
@media (max-width: 1250px) {
    #project>.container{
      flex-direction: column;    
      height: 100%;
    }
}
.about{
    border: #000000 2px solid;
    border-radius: 10px;
}
.contain{
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.contain #img1{
    transform: rotate(7deg);
}
.contain #img2{
    transform: rotate(-7deg);
}
.contain #img3{
    transform: rotate(-7deg);
}
.contain #img4{
    transform: rotate(7deg);
}
#about p{
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 800;
    color: rgb(90, 52, 5);
}

#contact ul a:hover{
    box-shadow: 0 0 10px 5px rgb(169, 15, 159);
}
#contact ul a:not(:hover) {
    transition-delay: 3s;
}

.gradient-background {
	background: linear-gradient(-60deg, #eed14e, #ea7c07, #6e3d01, #565b70, rgb(108, 57, 57));
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
}

.gradient-background2 {
	background: linear-gradient(-60deg, #ffffff, #67a5a0, #fed404, #2ad9ca);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
